.mobile-menu {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: $navbar-height-mobile;
  height: $app-height;
  background: white;
  transition: width 0.3s ease-in-out;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
}

.menu-button {
  width: 4rem;
}
