.mobile-menu {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0;
  top: $navbar-height-touch;
  height: 100%;
  background: white;
  transition: width 0.3s ease-in-out;
}

.mobile-menu-content {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.menu-button {
  width: 4rem;
}

.navbar-burger:hover {
  background-color: transparent;
}
