.mobile-filters {
  position: fixed;
  overflow: hidden;
  left: 0;
  width: 0;
  height: 0;
  top: 0;
  bottom: 0;
  background: white;
  transition: width 0.4s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  z-index: 3;
}

.mobile-filters {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
