// Colors
$green: #6fb642;
$black: #000000;

// Fonts
$family-secondary: 'Times New Roman', Times, serif;

// Body
$body-overflow-x: initial;
$body-overflow-y: initial;

// Navbar
$navbar-item-img-max-height: 3rem;
$navbar-height: 4rem;
$navbar-height-touch: 8rem;
$navbar-breakpoint: 769px;

// Footer
$footer-background-color: white;
$footer-height: 1rem;
$footer-padding: 0.75rem;

// Input
$input-hover-color: none;
$input-hover-border-color: none;
$input-focus-color: none;
$input-focus-border-color: none;
$input-focus-box-shadow-size: none;

// Tabs
$tabs-border-bottom-color: white;
$tabs-link-hover-border-bottom-color: $green;
$tabs-link-active-border-bottom-color: $green;
$tabs-link-active-color: hsl(0, 0%, 29%);
$tabs-link-padding: 7px 0em;
$tabs-border-bottom-width: 2px;

// Main
$app-padding: 2em;
$app-height: calc(
  100vh - (#{$navbar-height} + #{$app-padding} + #{$footer-height})
);

$app-height-touch: calc(
  100vh - (#{$navbar-height-touch} + #{$app-padding} + #{$footer-height})
);
