// Colors
$green: #9ded92;

// Body
$body-overflow-x: initial;
$body-overflow-y: initial;

// Navbar
$navbar-item-img-max-height: 3rem;
$navbar-height: 4rem;
$navbar-height-touch: 8rem;
$navbar-breakpoint: 769px;

// Footer
$footer-background-color: white;
$footer-height: 1rem;
$footer-padding: 0.75rem;

// Input
$input-hover-color: none;
$input-hover-border-color: none;
$input-focus-color: none;
$input-focus-border-color: none;
$input-focus-box-shadow-size: none;

// Tabs
$tabs-border-bottom-color: white;
$tabs-link-hover-border-bottom-color: $green;
$tabs-link-active-border-bottom-color: $green;
$tabs-link-active-color: hsl(0, 0%, 29%);
$tabs-link-padding: 7px 0em;
$tabs-border-bottom-width: 2px;

// Main
$app-padding: 2em;
$app-height: calc(
  100vh - (#{$navbar-height} + #{$app-padding} + #{$footer-height})
);

$app-height-touch: calc(
  100vh - (#{$navbar-height-touch} + #{$app-padding} + #{$footer-height})
);

@import '~bulma/bulma.sass';
@import './components/header/header.scss';
@import './components/footer/footer.scss';
@import './components/filters/filters.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  min-height: $app-height;
  margin-top: $navbar-height;
  padding: 2em;
  @media screen and (max-width: $tablet) {
    min-height: $app-height-touch;
    margin-top: $navbar-height-touch;
    padding: 0.85em;
  }
}

// Inputs
.input {
  border: none;
  padding-left: 0;
  padding-right: 0;
  box-shadow: inset 0 -2px 0 $grey;
  transition: all 300ms;
  border-radius: 0;

  &.is-small {
    border-radius: 0;
  }

  &.is-active,
  &.is-focused,
  &:active,
  &:focus {
    box-shadow: inset 0 -2px 0 $grey-light;
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} {
      box-shadow: inset 0 -1px 0 $color;

      &.is-active,
      &.is-focused,
      &:active,
      &:focus {
        box-shadow: inset 0 -2px 0 $color;
      }
    }
  }

  &.is-disabled,
  &[disabled],
  &[readonly] {
    border-bottom: 1px dotted $grey-lighter;
    cursor: not-allowed;
  }
}

// Cursor
$cursors: (
  'default' 'pointer' 'grab' 'help' 'wait' 'crosshair' 'not-allowed' 'zoom-in'
);

@each $cursor in $cursors {
  .has-cursor-#{$cursor} {
    cursor: #{$cursor} !important;
  }
}

// Overlay
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0s 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out, visibility 0s 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out, visibility 0s 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, visibility 0s 0.4s ease-in-out;
  top: $navbar-height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Black background with opacity */
}

.overlay-open {
  opacity: 1;
  visibility: visible;
  position: fixed;
  transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  top: $navbar-height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Black background with opacity */
}
