.categories {
  position: absolute;
  left: 0;
  top: $navbar-height;
  width: 100%;
  z-index: 1;
  height: 300px;
  background: #fff;
  animation: categoriesAnim 0.2s ease-in;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
}

@keyframes categoriesAnim {
  0% {
    height: 0;
  }
  1% {
    display: block;
    opacity: 1;
  }
  100% {
    opacity: 1;
    height: 300px;
  }
}
