.category-tab {
  padding: 0.75rem;
  height: 100%;
}

.categories {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: $navbar-height;
  height: 300px;
  width: 100%;
  background: white;
  transition: height 0.4s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
}
