// Navbar
$navbar-item-img-max-height: 3rem;
$navbar-height: 4rem;

// Footer
$footer-background-color: white;
$footer-padding: 0.5rem;
$footer-height: 3rem;

// Main
$app-height: calc(100vh - (#{$navbar-height} + #{$footer-height}));

@import '~bulma/bulma.sass';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  min-height: $footer-height;
}

.main {
  margin-top: $navbar-height;
  min-height: $app-height;
}
